@import "src/global.scss";
.buttonContainer {
  background-color: $button-background-primary;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  // width: 100%;
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  .btnText {
    color: $text_color_white;
  }
}

.primaryBtn {
  background-color: $button-background-primary !important;
}
.secondaryBtn {
  background-color: $button-background-secondary;
  .btnText {
    color: $text_color_black;
  }
}
