@import "src/global.scss";

.mainWrapper {
  @include flex_column;
  justify-content: center;
  padding-top: 50px;
  .titles {
    @include flex_column;
    .title {
      font-size: 12px;
    }
    .headerText {
      font-size: 22px;
      font-weight: 500;
      color: $text_header_color;
    }
  }
  .cardsContainer {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    .cardItems {
      display: flex;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 20px;
    }
  }
}
