.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 12px;
    }
    .headerText {
      font-size: 22px;
      font-weight: 500;
      color: #1a2230;
    }
  }
}
